<html>
    <body>
        <h1>DBS price prediction</h1>
        <form action="/" method="post">
            <p>Please enter the exchange rate used to sgd(eg 1.4)</p>
            <p><input type="number" step="0.01" name="rates"></p>
            <p><input type="submit" value="确认"></p>
        </form>
        <p>The predicted DBS price (regression) is:{{result1}} </p>
        <p>The predicted DBS price (tree) is: {{result2}}</p>
        <p>The predicted DBS price (neural_network) is: {{result3}}</p>
    </body>
</html> 